{% extends 'base.html.twig' %}
{% block title %}Klanten{% endblock %}
{% block body %}
<div class="d-flex justify-content-between mb-3">
    <h1 class="h3">Klanten</h1>
    <a href="{{ path('app_customer_new') }}" class="btn btn-primary">Nieuwe klant</a>
</div>
<table class="table bg-white shadow-sm">
    <thead><tr><th>Voornaam</th><th>Achternaam</th><th>E-mail</th></tr></thead>
    <tbody>
    {% for c in customers %}
        <tr><td>{{ c.firstName }}</td><td>{{ c.lastName }}</td><td>{{ c.email }}</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
