{% extends 'base.html.twig' %}

{% block title %}Smartphone bewerken{% endblock %}

{% block body %}
<h1 class="h3 mb-3"><i class="bi bi-pencil"></i> Smartphone bewerken</h1>

{{ include('smartphone/_form.html.twig', {
    button_label: 'Bijwerken'
}) }}
{% endblock %}
