{% extends 'kapsalon/admin/_layout.html.twig' %}
{% block admin_content %}
{% include 'kapsalon/_partials/page_header.html.twig' with { title: 'Afspraak plannen' } only %}
<div class="content-card p-4 col-lg-8">
<form method="post" class="row g-3">
<div class="col-md-6"><label class="form-label">Naam</label><input name="customerName" class="form-control" required></div>
<div class="col-md-6"><label class="form-label">E-mail</label><input name="customerEmail" type="email" class="form-control" required></div>
<div class="col-md-6"><label class="form-label">Telefoon</label><input name="customerPhone" class="form-control"></div>
<div class="col-md-6"><label class="form-label">Datum/tijd</label><input name="startsAt" type="datetime-local" class="form-control" required></div>
<div class="col-12"><button class="btn btn-olive" type="submit">Opslaan</button></div>
</form>
</div>
{% endblock %}
