{% extends 'base.html.twig' %}
{% block title %}Mijn afspraken{% endblock %}
{% block body %}
<h1 class="h3">Mijn afspraken met specialisten</h1>
<table class="table table-striped bg-white shadow-sm">
    <thead class="table-success">
        <tr><th>Datum</th><th>Specialist</th><th>Opmerkingen</th></tr>
    </thead>
    <tbody>
    {% for a in appointments %}
        <tr>
            <td>{{ a.scheduledAt|date('d-m-Y H:i') }}</td>
            <td>{{ a.specialist.fullName }} ({{ a.specialist.specialization }})</td>
            <td>{{ a.notes ?: '-' }}</td>
        </tr>
    {% else %}
        <tr><td colspan="3" class="text-muted">Geen afspraken gepland.</td></tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
