{% extends 'base.html.twig' %}
{% block title %}Nieuws publiceren{% endblock %}
{% block body %}
<h1 class="h3">Nieuw bericht</h1>
<div class="card shadow-sm"><div class="card-body">
{{ form_start(form) }}{{ form_widget(form) }}
<button class="btn btn-success mt-2">Publiceren</button>
{{ form_end(form) }}
</div></div>
{% endblock %}
