{% extends 'base.html.twig' %}
{% block title %}Pizza – simple form{% endblock %}
{% block body %}
<h1 class="h3">Pizza toevoegen (opdracht 1.1: form(form))</h1>
<div class="card shadow-sm">
    <div class="card-body">
        {{ form_start(form) }}
        {{ form(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
